*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

.container{
    width: 100%;
    height: 100%;
    background-image: url(assets/background.png);
    background-position: center;
    background-size: cover;
    padding: 0 8px;
    position: relative;
}

.logo{
    width: 120px;
    padding: 20px 0;
    cursor: pointer;
}

.content{
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #fff;
}

.container h1{
    font-size: 64px;
    font-weight: 600;
}

.container h1 span{
    color: #ff3735;
}

.container button{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.container button img{
    width: 15px;
    margin-left: 10px;
}

.launch-time{
    display: flex;
}

.launch-time div{
    flex-basis: 100px;
}

.launch-time div p{
    font-size: 60px;
    margin-bottom: -14px;
}

.rocket{
    width: 64px;
    position: absolute;
    right: 10%;
    bottom: 0;
    -webkit-animation: rocket 4s linear infinite;
    animation: rocket 4s linear infinite;
}

@-webkit-keyframes rocket {
    0%{
        bottom: 0;
        opacity: 0;
    }

    100%{
        bottom: 105%;
        opacity: 1;
    }
}

@keyframes rocket {
    0%{
        bottom: 0;
        opacity: 0;
    }

    100%{
        bottom: 105%;
        opacity: 1;
    }
}